<%= form_for([solution.task.lecture, solution.task, solution]) do |f| %>

  <% if solution.errors.any? %>
    <h2><%= pluralize(solution.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  </p>
    <b>Solution content</b><br>
    <%= f.text_area :content, size: '100x25' %> 
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
