<td><%= photo.title %></td>
<td><%= image_tag photo.url %></td>
<td><%= photo.created_at.strftime('%F %T') %></td>
<td><%= link_to 'Show', photo %></td>
<td><%= link_to 'Edit', edit_photo_path(photo) %></td>
<td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>