<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @photo.title %><br>
  <strong>Image:</strong><br>
  <%= image_tag @photo.url %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
