<%= form_for @sign_in, url: sign_in_sessions_path do |f| %>
  <p>
    <b>Email:</b><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <b>Password:</b><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <b>Remember me</b>
    <%= f.check_box :remember_me %>
  </p>
  <p>
    <%= f.submit 'Sign in' %>
  </p>
<% end %>

<p>
  <%= link_to 'Sign up', new_registration_path %>
</p>